.PageHeader {
  border-right: 1px solid #f0f0f0;
  padding-top: 12px;
}

.ExtraContainer {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.ExtraContainer {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.ExtraContainer .Text {
  font-weight: 600;
  font-size: 1rem;
}

.ExtraContainer img {
  height: 35px;
  margin: 0 20px 0 10px;
}

.SwitchElement {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 20px;
  padding-bottom: 5px;
}

.SwitchElement label {
  font-weight: 600;
  font-size: 0.9rem;
  margin-top: -5px;
  padding-bottom: 2px;
}

.Button {
  margin-left: 20px;
}

.RadioContainer {
  margin-top: 6px;
  margin-left: 15px;
}
