.Card {
  margin: 15px;
}

.Cover {
  background-color: #fafafa;
}

.NoStructure {
  margin-top: 75px;
  font-size: 20px;
  color: #cf1322;
}

.ArrowButton {
  position: absolute;
  top: 25%;
}

.RightArrow {
  left: 85%;
}
.LeftArrow {
  left: 5%;
}

.Description span {
  font-weight: 700;
}
