.Card {
  margin: 15px;
}

.Cover {
  background-color: #fafafa;
  width: 240;
  padding: 10px;
}

.Structure {
  height: 160px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.NoStructure {
  margin-top: 70px;
  font-size: 20px;
  color: #cf1322;
  margin-bottom: 70px;
}

.ArrowButton {
  position: absolute;
  top: 25%;
}

.RightArrow {
  left: 85%;
}
.LeftArrow {
  left: 5%;
}

.ExpsInfo {
  font-size: 14px;
  font-weight: 500;
  text-align: center;
  border: #389e0d 1px solid;
  border-radius: 5px;
  color: #389e0d;
  background-color: #fffbe6;
}

/* .Description span {
  font-weight: 700;
}

.Meta span {
  font-weight: 700;
  color: black;
} */
