.NMRiumContainer {
  height: 94.5vh;
}

.Overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5); /* Black background with opacity */
  z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
  cursor: pointer;
  display: flex;
  justify-content: center;
}

.Error {
  color: red;
  font-weight: 800;
  display: flex;
  justify-content: center;
  margin-top: 300px;
}
