.InfoCard {
	min-width: 240px;
	text-align: left;
	margin: 0px 5px 15px 5px;
}

.CardHead h2 {
	color: #fff;
	text-align: left;
	margin: 0px;
}

.CardHead h4 {
	color: #fff;
	text-align: left;
	margin: 0px;
}

.InfoCard ul {
	list-style: none;
	padding: 0px;
	font-size: 14px;
	/* margin-left: 5px; */
}

.trafficLights {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	background-color: #f0f0f0;
	border-radius: 4px;
	padding: 5px;
	width: 70%;
	height: 90px;
}

.Switch {
	text-align: center;
	margin-bottom: 20px;
}
