.RootContainer {
  width: 100%;
}

.TitleHeader {
  background-color: rgba(105, 177, 255, 0.31);
}

.Divider {
  border-color: blue;
}

.Title {
  text-align: center;
  font-size: 2rem;
  font-weight: 600;
}

.Content {
  padding: 0px 30px;
}

.TabLabel {
  font-size: 1rem;
  font-weight: 400;
}
