.Container {
  height: 5vh;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  border-bottom: 1px solid #f0f0f0;
}

.Controls {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0 auto;
}

.Container button {
  background-color: #1890ff;
  color: white;
  height: 35px;
  border: 0;
  padding: 0 15px 0 15px;
  border-radius: 3px;
}

.Container button:hover {
  background-color: #69c0ff;
  cursor: pointer;
}

.SelectContainer {
  max-width: 100 px;
}

.Logo {
  text-align: left;
  box-sizing: border-box;
  height: 5vh;
  padding: 5px;
  cursor: pointer;
}
