name: Test API
on:
  workflow_dispatch
  # push:
  #   branches:
  #     - 'main'
  # pull_request:
  #   types:
  #     - opened
jobs:
  test:
    env:
      PORT: 8080
      MONGODB_URL: 'mongodb://mongodb:27017/nomad'
      HOST: '0.0.0.0'
      FRONT_HOST_URL: 'http://localhost:3003'
      ADMIN_PASSWORD: 'password'
      JWT_EXPIRATION: 36000
      JWT_SECRET: 'secret'
      EMAIL_SUFFIX: 'email.com'
      SMTP_HOST: '###'
      SMTP_PORT: 587
      SMTP_SECURE: false
      SMTP_REQUIRE_TLS: true
      SMTP_USER: '###'
      SMTP_PASS: '###'
      SMTP_SENDER: '###'
      SUBMIT_ON: true
      DATASTORE_ON: true,
      DATASTORE_PATH: '/app/datastore'
      DOWNLOADS_PATH: '/app/downloads'
      DATA_UPLOAD_TIMEOUT: 30000
      COLLECTION_DOWNLOAD_TIMEOUT: 900000
    runs-on: ubuntu-latest
    steps:
      - name: Get Code
        uses: actions/checkout@v4
        with:
          sparse-checkout: nomad-rest-api
      - name: Install dependencies
        working-directory: nomad-rest-api
        run: npm ci
      - name: Test
        working-directory: nomad-rest-api
        run: npm run test-action
